Repository AyushShende25/chat-app: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, biome format --write

feat(logger): implement shared Winston logger with daily rotation
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/logger/tsconfig.json
  packages/logger/tsup.config.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

feat(logger): export Logger type for service-wide type safety
  packages/logger/src/index.ts
Due: biome check --write

feat(auth): scaffold initial auth service
  pnpm-lock.yaml
  services/auth/drizzle.config.ts
  services/auth/package.json
  services/auth/src/app.ts
  services/auth/src/config/env.ts
  services/auth/src/db/index.ts
  services/auth/src/db/schema/user.ts
  services/auth/src/middleware/morgan.ts
  services/auth/src/server.ts
  services/auth/src/utils/logger.ts
  services/auth/tsconfig.json
  services/auth/tsup.config.ts
Due: biome check --write, biome format --write

feat(redis): redis setup as package
  packages/redis/package.json
  packages/redis/src/index.ts
  packages/redis/tsconfig.json
  packages/redis/tsup.config.ts
Due: biome check --write, biome format --write

feat(auth): redis integration
  pnpm-lock.yaml
  services/auth/compose.yaml
  services/auth/package.json
  services/auth/src/config/env.ts
  services/auth/src/db/index.ts
  services/auth/src/lib/logger.ts
  services/auth/src/lib/redis.ts
  services/auth/src/server.ts
Due: biome check --write, biome format --write

feat(auth): add initial auth database schema with accounts and token tables
  services/auth/src/db/schema/account.ts
  services/auth/src/db/schema/email-verification.ts
  services/auth/src/db/schema/password-reset.ts
  services/auth/src/db/schema/timestamp.ts
  services/auth/src/db/schema/user.ts
Due: biome check --write

feat(errors): implement errors package for centralised errors
  packages/errors/package.json
  packages/errors/src/bad-request.ts
  packages/errors/src/base-error.ts
  packages/errors/src/conflict.ts
  packages/errors/src/forbidden.ts
  packages/errors/src/index.ts
  packages/errors/src/not-found.ts
  packages/errors/src/unauthorized.ts
  packages/errors/tsconfig.json
  packages/errors/tsup.config.ts
Due: biome check --write, biome format --write

feat(auth): implement global error-handler and integrate errors package
  services/auth/src/app.ts
  services/auth/src/middleware/error-handler.ts
Due: biome check --write

feat(auth): implement register route
  pnpm-lock.yaml
  services/auth/package.json
  services/auth/src/app.ts
  services/auth/src/config/env.ts
  services/auth/src/db/schema/email-verification.ts
  services/auth/src/db/schema/password-reset.ts
  services/auth/src/routes/index.ts
  services/auth/src/routes/register/controller.ts
  services/auth/src/routes/register/route.ts
  services/auth/src/routes/register/schema.ts
  services/auth/src/services/register.service.ts
  services/auth/src/utils/password.ts
Due: biome check --write, biome format --write

feat(auth): implement verify-email
  services/auth/src/routes/index.ts
  services/auth/src/routes/verify-email/controller.ts
  services/auth/src/routes/verify-email/route.ts
  services/auth/src/routes/verify-email/schema.ts
  services/auth/src/services/verify-email.service.ts
Due: biome check --write

feat(auth): add login service
  services/auth/src/config/env.ts
  services/auth/src/routes/index.ts
  services/auth/src/routes/login/controller.ts
  services/auth/src/routes/login/route.ts
  services/auth/src/routes/login/schema.ts
  services/auth/src/services/login.service.ts
  services/auth/src/store/refresh-token.store.ts
  services/auth/src/utils/jwt.ts
Due: biome check --write

feat(auth): add refresh token rotation and access token renewal
  services/auth/src/routes/index.ts
  services/auth/src/routes/refresh/controller.ts
  services/auth/src/routes/refresh/route.ts
  services/auth/src/routes/refresh/schema.ts
Due: biome check --write

feat(auth): add logout and logout-all endpoints
  services/auth/src/middleware/require-auth.ts
  services/auth/src/routes/index.ts
  services/auth/src/routes/logout/controller.ts
  services/auth/src/routes/logout/route.ts
  services/auth/src/routes/refresh/controller.ts
  services/auth/src/routes/refresh/schema.ts
Due: biome check --write

feat(auth): implement password-reset
  services/auth/src/routes/index.ts
  services/auth/src/routes/password-reset/controller.ts
  services/auth/src/routes/password-reset/route.ts
  services/auth/src/routes/password-reset/schema.ts
  services/auth/src/services/forgot-password.service.ts
  services/auth/src/services/reset-password.service.ts
Due: biome check --write

feat(kafka): add shared Kafka client with producer and consumer wrappers
  packages/kafka/package.json
  packages/kafka/src/client.ts
  packages/kafka/src/consumer.ts
  packages/kafka/src/index.ts
  packages/kafka/src/producer.ts
  packages/kafka/src/types.ts
  packages/kafka/tsconfig.json
  packages/kafka/tsup.config.ts
Due: biome check --write, biome format --write

feat(events): emit domain events for account lifecycle
  packages/events/package.json
  packages/events/src/auth.ts
  packages/events/src/index.ts
  packages/events/tsconfig.json
  packages/events/tsup.config.ts
Due: biome check --write, biome format --write

refactor: add kafka-docker setup and move redis, db to infra/compose
  infra/compose.yaml
Due: none

feat(auth): integrate kafka package and create producer/consumer
  services/auth/package.json
  services/auth/src/config/env.ts
  services/auth/src/lib/kafka/consumer.ts
  services/auth/src/lib/kafka/producer.ts
  services/auth/src/server.ts
Due: biome check --write, biome format --write

feat(auth): emit/consume account lifecycle events
  services/auth/src/consumers/security.ts
  services/auth/src/events/publish.ts
  services/auth/src/server.ts
  services/auth/src/services/forgot-password.service.ts
  services/auth/src/services/register.service.ts
  services/auth/src/services/reset-password.service.ts
  services/auth/src/services/verify-email.service.ts
Due: biome check --write

feat(notifications): scaffold kafka-based notifications service
  services/notifications/package.json
  services/notifications/src/config/env.ts
  services/notifications/src/index.ts
  services/notifications/src/lib/logger.ts
  services/notifications/tsconfig.json
  services/notifications/tsup.config.ts
Due: biome check --write, biome format --write

feat(notifications): consume auth events, setup mailer and send emails
  pnpm-lock.yaml
  services/auth/compose.yaml
  services/notifications/src/consumers/auth.ts
  services/notifications/src/lib/kafka/consumer.ts
  services/notifications/src/lib/mailer.ts
  services/notifications/src/templates/password-reset-success.ts
  services/notifications/src/templates/password-reset.ts
  services/notifications/src/templates/verify-email.ts
  services/notifications/src/templates/verify-success.ts
Due: biome check --write

refactor(register-endpoint): handle unique-constraint in try-catch
  services/auth/src/services/register.service.ts
Due: biome check --write

fix: add startAuthEventsConsumer to bootstrap
  services/notifications/src/index.ts
Due: biome check --write

feat(users): scaffold users service with profile routes and auth consumer
  infra/compose.yaml
  pnpm-lock.yaml
  services/users/drizzle.config.ts
  services/users/package.json
  services/users/src/app.ts
  services/users/src/config/env.ts
  services/users/src/consumers/auth.ts
  services/users/src/db/index.ts
  services/users/src/db/schema/timestamp.ts
  services/users/src/db/schema/user.ts
  services/users/src/lib/kafka/consumer.ts
  services/users/src/lib/kafka/producer.ts
  services/users/src/lib/logger.ts
  services/users/src/middleware/error-handler.ts
  services/users/src/middleware/morgan.ts
  services/users/src/middleware/require-auth.ts
  services/users/src/routes/index.ts
  services/users/src/routes/me/controller.ts
  services/users/src/routes/me/route.ts
  services/users/src/routes/me/schema.ts
  services/users/src/server.ts
  services/users/src/services/user.service.ts
  services/users/src/utils/username.ts
  services/users/tsconfig.json
  services/users/tsup.config.ts
Due: biome check --write, biome format --write

feat(conversations): scaffold conversations service
  services/conversations/drizzle.config.ts
  services/conversations/package.json
  services/conversations/src/app.ts
  services/conversations/src/config/env.ts
  services/conversations/src/db/conversation-participants.ts
  services/conversations/src/db/conversations.ts
  services/conversations/src/db/index.ts
  services/conversations/src/db/schema/timestamp.ts
  services/conversations/src/lib/kafka/consumer.ts
  services/conversations/src/lib/kafka/producer.ts
  services/conversations/src/lib/logger.ts
  services/conversations/src/middleware/error-handler.ts
  services/conversations/src/middleware/morgan.ts
  services/conversations/src/middleware/require-auth.ts
  services/conversations/src/server.ts
  services/conversations/tsconfig.json
  services/conversations/tsup.config.ts
Due: biome check --write, biome format --write

feat(messages): scaffold messages service
  services/messages/drizzle.config.ts
  services/messages/package.json
  services/messages/src/app.ts
  services/messages/src/config/env.ts
  services/messages/src/db/index.ts
  services/messages/src/db/schema/messages.ts
  services/messages/src/lib/kafka/consumer.ts
  services/messages/src/lib/kafka/producer.ts
  services/messages/src/lib/logger.ts
  services/messages/src/middleware/error-handler.ts
  services/messages/src/middleware/morgan.ts
  services/messages/src/middleware/require-auth.ts
  services/messages/src/server.ts
  services/messages/tsconfig.json
  services/messages/tsup.config.ts
Due: biome check --write, biome format --write

feat(events): add conversation and message topics
  packages/events/src/conversation.ts
  packages/events/src/index.ts
  packages/events/src/message.ts
Due: biome check --write

chore: upgrade drizzle version, move schemas into one schema.ts
  services/auth/drizzle.config.ts
  services/auth/package.json
  services/auth/src/db/schema.ts
  services/auth/src/db/schema/account.ts
  services/auth/src/db/schema/email-verification.ts
  services/auth/src/db/schema/password-reset.ts
  services/auth/src/db/schema/timestamp.ts
  services/auth/src/services/forgot-password.service.ts
  services/auth/src/services/login.service.ts
  services/auth/src/services/register.service.ts
  services/auth/src/services/reset-password.service.ts
  services/auth/src/services/verify-email.service.ts
  services/users/drizzle.config.ts
  services/users/package.json
  services/users/src/consumers/auth.ts
  services/users/src/db/schema.ts
  services/users/src/db/schema/timestamp.ts
  services/users/src/services/user.service.ts
Due: biome check --write, biome format --write

feat(infra): add psql for message service and psql for convo service
  infra/compose.yaml
Due: none

feat(conversations): add create/list-convo endpoints, publish convo events,consume message events
  services/conversations/drizzle.config.ts
  services/conversations/src/consumers/message.ts
  services/conversations/src/db/conversation-participants.ts
  services/conversations/src/db/conversations.ts
  services/conversations/src/db/schema.ts
  services/conversations/src/db/schema/timestamp.ts
  services/conversations/src/events/publish.ts
  services/conversations/src/routes/conversations/controller.ts
  services/conversations/src/routes/conversations/route.ts
  services/conversations/src/routes/conversations/schema.ts
  services/conversations/src/routes/index.ts
  services/conversations/src/server.ts
  services/conversations/src/services/conversation.service.ts
Due: biome check --write

feat(messages): implement send-message endpoint, pub message events, consume convo events
  services/messages/drizzle.config.ts
  services/messages/src/consumers/conversation.ts
  services/messages/src/db/schema.ts
  services/messages/src/events/publish.ts
  services/messages/src/routes/index.ts
  services/messages/src/routes/messages/controller.ts
  services/messages/src/routes/messages/route.ts
  services/messages/src/routes/messages/schema.ts
  services/messages/src/server.ts
  services/messages/src/services/message.service.ts
Due: biome check --write

Path conditions:
  biome check --write: any of: *.{js,jsx,ts,tsx}
  biome format --write: any of: *.{json,css,md}
